MYSQL_ROOT_PASSWORD=
MYSQL_DATABASE=
MYSQL_USER=
MYSQL_PASSWORD=

WORDPRESS_DB_HOST=
WORDPRESS_DB_NAME=
WORDPRESS_DB_USER=
WORDPRESS_DB_PASSWORD=

WORDPRESS_TABLE_PREFIX=wp_

PMA_HOST=
PMA_PORT=

WORDPRESS_URL=
WORDPRESS_TITLE=Wordpress DEMO Maestria
WORDPRESS_ADMIN_USER=
WORDPRESS_ADMIN_PASSWORD=
WORDPRESS_ADMIN_EMAIL=

SMTP_HOST=mailhog
SMTP_PORT=1025